.QuickActions {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

.QuickActions .CardItem {
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.QuickActions button {
  height: 100%;
  border: none;
  color: white;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  background: rgba(1, 1, 1, 0.3);
  cursor: pointer;

  & h3,
  h4 {
    margin-bottom: 0;
  }

  & h3 {
    font-size: 1.8rem;
  }

  & h4 {
    font-weight: 200;
    font-size: 0.8rem;
  }
}

.QuickActions button:hover {
  background: rgba(0, 0, 0, 1);
}
